html,
Body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(85, 84, 84),
    rgb(34, 24, 24)
  );
  color: white;
}

.heading {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  padding: 20px;
  /* border: 2px solid red; */
}

input {
  border: none;
  background: transparent;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  color: white;
  width: 350px;
  height: 50px;
  font-size: 50px;
  text-align: right;
  margin-bottom: 20px;
}

input::placeholder {
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  width: 80px;
  height: 60px;
  font-size: 20px;
  margin: 10px;
  font-size: 20px;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}

.AC {
  background: orange;
}

.del {
  background: orange;
}
.longzero {
  width: 180px;
  padding: 0px 20px 0px 20px;
  background: orange;
}

.equalbtn {
  background: orange;
}

.operator {
  color: green;
  font-size: 30px;
}
